@media screen and (max-width: 768px) {
    :root {
        --container-width: 100%;
    }

    html, body {
        min-width: 0 !important;
        overflow-x: hidden;
        padding-top: 0;
        font-size: 20px !important;
    }

    #header {
        position: relative;
        height: auto;
        min-width: 100%;
    }
    
    #logo, #userinfo, #searchbars, #menu {
        position: static;
        width: 150%;
        text-align: center;
        float: none;
    }
    
    #menu li {
        float: none;
        display: inline-block;
        margin: 2px;
    }
    
    #menu a {
        display: inline-block;
        padding: 10px 15px !important;
        background-color: var(--input-background-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        text-decoration: none;
        margin-bottom: 5px;
    }

    #content {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    #content .main_column, 
    #content .sidebar {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    #content .sidebar { 
        order: 2; 
    }
    
    #content .main_column { 
        order: 1; 
    }

    .table_container_responsive, 
    .torrent_table, 
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    table td {
        padding: 12px 8px !important;
        font-size: 18px;
    }

    input[type=text], input[type=search], select, input[type=password] {
        font-size: 20px !important;
        height: 45px !important;
        width: 95%;
        margin: 5px auto;
        display: inline-block;
    }

    input[type=checkbox], input[type=radio] {
        transform: scale(1.3);
        margin: 10px 5px;
    }
    
    .cat_list a, .filter_torrents a {
        display: inline-block;
        padding: 8px 14px;
        margin: 4px;
        background-color: var(--header-background-color);
        border: 1px solid var(--border-color);
        border-radius: 15px;
        line-height: 1.5;
        text-decoration: none;
    }

    #footer {
        position: static;
        height: auto;
        padding: 20px;
        font-size: 14px;
    }
}
